[Unit]
Description=Rclone mount for %i
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStartPre=mkdir -p %h/drive/%i
ExecStartPre=mkdir -p %h/.cache/rclone/%i
ExecStart=rclone mount %i: %h/drive/%i \
	--config %h/.config/rclone/rclone.conf \
	--dir-cache-time 1000h \
	--poll-interval 30s \
	--cache-dir %h/.cache/rclone/%i \
	--vfs-cache-mode full \
	--vfs-cache-max-age 24h \
	--vfs-cache-max-size 30G \
	--vfs-fast-fingerprint \
	--buffer-size 32M \
	--vfs-read-ahead 256M \
	--vfs-read-chunk-size 32M \
	--vfs-read-chunk-size-limit 2G \
	--drive-chunk-size 64M \
	--transfers 4 \
	--checkers 8 \
	--tpslimit 4 \
	--tpslimit-burst 4 \
	--contimeout 10s \
	--timeout 1h \
	--retries 3 \
	--low-level-retries 10 \
	--umask 002 \
	--log-level INFO
ExecStop=/bin/fusermount -uz %h/drive/%i
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
