[user]
	email = psauxwwf@d6f.ru
	name = psauxwwf
	signingkey = psauxwwf
[credential]
	helper = store
[core]
	autocrlf = false
	editor = hx
[http]
	sslVerify = false
[commit]
	gpgSign = true
[init]
	defaultBranch = master
[diff]
	algorithm = histogram
[color]
	ui = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
