# .aider*
.env
.config/helix/runtime
.ai/proxychains.conf
.config/mise/node_modules
.config/opencode/node_modules
.config/opencode/bun.lock
.aider.tags.cache.v4
.aider.chat.history.md
.aider.input.history
/.config/zellij/config.kdl.bak
/.agents/skills/excalidraw-diagram/references/__pycache__/render.cpython-312.pyc
