[user]
	email = in@d6f.ru
	name = devil666face
	signingkey = 2764C76C0666DC3C
[credential]
	helper = store
[core]
	autocrlf = false
	editor = hx
[http]
	sslVerify = false
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[diff]
	algorithm = histogram
[color]
	ui = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
