[Desktop Entry]
Type=Application
Version=1.0
Name=Helix
Name[ar]=Helix
Name[ast]=Helix
Name[be]=Helix
Name[bg]=Helix
Name[ca]=Helix
Name[cs]=Helix
Name[da]=Helix
Name[de]=Helix
Name[el]=Helix
Name[en_GB]=Helix
Name[es]=Helix
Name[et]=Helix
Name[eu]=Helix
Name[fa]=Helix
Name[fi]=Helix
Name[fr]=Helix
Name[gl]=Helix
Name[he]=Helix
Name[hi]=जीनि
Name[hu]=Helix
Name[id]=Helix
Name[ie]=Helix
Name[it]=Helix
Name[ja]=Helix
Name[kk]=Helix
Name[ko]=지니
Name[ku]=جێنی
Name[lb]=Helix
Name[lt]=Helix
Name[lv]=Helix
Name[mn]=Жиени
Name[nl]=Helix
Name[nn]=Helix
Name[pl]=Helix
Name[pt]=Helix
Name[pt_BR]=Helix
Name[ro]=Helix
Name[ru]=Helix
Name[sk]=Helix
Name[sl]=Helix
Name[sr]=Helix
Name[sv]=Helix
Name[tr]=Helix
Name[vi]=Helix
Name[zh_CN]=Helix
Name[zh_TW]=Helix
Exec=hx-open-dir %F
Icon=text
Terminal=false
Categories=Utility;Development;IDE;TextEditor;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
StartupNotify=true
Keywords=Text;Editor;
Keywords[ca]=Text;Editor;
Keywords[da]=Tekst;Editor;
Keywords[de]=Text;Editor;
Keywords[el]=Κείμενο;Επεξεργαστής;
Keywords[es]=Texto;Editor;
Keywords[et]=Tekst;Redaktor;
Keywords[fr]=Texte;Éditeur;
Keywords[hu]=Szöveg;Szerkesztő;
Keywords[id]=Text;Editor
Keywords[ie]=textu;redactor;
Keywords[it]=Testo;Editor;
Keywords[ja]=Text;Editor;
Keywords[kk]=Мәтін;Түзеткіш;
Keywords[lt]=Teksto;Redaktorius;
Keywords[lv]=Teksts;Redaktors;
Keywords[nl]=Tekst;Editor;
Keywords[pt]=Texto;Editor;
Keywords[ru]=Текст;Редактор;
Keywords[sk]=Text;Editor;
Keywords[sv]=Text;Editor;
Keywords[tr]=Metin;Düzenleyici;
Keywords[uk]=Текст;Редактор;
Keywords[zh_CN]=文本;编辑器;
Keywords[zh_TW]=文字;編輯器;
