wheel
setuptools
notebooklm-py[browser]
markitdown[pptx, docx, xlsx, xls, pdf, audio-transcription, youtube-transcription]

# hermes-agent[all] @ git+https://github.com/NousResearch/hermes-agent.git
# pysocks
# aider-ce
# aider-chat
# playwright
# git+https://github.com/Pennyw0rth/NetExec
# git+https://github.com/brightio/penelope
