wheel
setuptools
notebooklm-py[browser]
# hermes-agent[all] @ git+https://github.com/NousResearch/hermes-agent.git
# pysocks
# aider-ce
# aider-chat
# playwright
# git+https://github.com/Pennyw0rth/NetExec
# git+https://github.com/brightio/penelope
